* { box-sizing: border-box; }

.section {
	max-width: 768px;
	margin: 0 auto;
	display: none;
}
.active-section {
	display: block;
}
.wrapper {
    overflow: hidden
}
.relative {
	position: relative;
}

img {
	display: block;
	-webkit-mix-blend-mode: normal;
	-moz-mix-blend-mode: normal;
	-ms-mix-blend-mode: normal;
	-o-mix-blend-mode: normal;
	mix-blend-mode: normal;
}

.select {
	padding: 5px 10px;
	font-size: .8em;
}

.title {
	text-align: center;
}

.caption {
	display: block;
	position: absolute;
	font-size: 1em;
	color: #fff;
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	line-height: 50px;
	bottom: 0;
	text-align: right;
	padding: 0 20px;
	opacity: 1;
	-webkit-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}

.action {
	padding: 20px 0;
	text-align: center
}

.prev { margin-right: 20px }

.bottom-link {
	text-align: right;
	padding: 20px 0;
}
.bottom-link a{
	color: rgba(9, 34, 161, 1);
	border-bottom: 1px dotted;
	display: inline-block;
	text-decoration: none
}
.bottom-link a:hover {
	border: none;
}

.filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(9, 34, 161, 1);
	/*mix-blend-mode: normal;*/
	z-index: -1;
}

.bg-blend-mode {
	max-width: 768px;
	height: 480px;
	background: url(../img/gorgeous_sunflowers-wide.jpg), rgba(9, 34, 161, 1);
	background-size: cover, 400px;
	background-blend-mode: normal, normal;
	-webkit-background-blend-mode: normal, normal;
	-moz-background-blend-mode: normal, normal;
	-ms-background-blend-mode: normal, normal;
	-o-background-blend-mode: normal, normal;
	background-blend-mode: normal, normal;
}

.canvas {
	box-shadow:  0px 21px 26px -22px rgba(9, 34, 161, 1)
}